# macOS
.DS_Store
.AppleDouble
.LSOverride

# IntelliJ
.idea/
*.iml
*.iws

# Documentation
documentation/Design/
documentation/CdC/

# Maven
backend-spring/target/

# Node
frontend-react/node_modules/
frontend-react/dist/

# Env
.env
*.env.local

# Other
config.json
directory_summary.txt
gen.py
report/
outlines.txt